metadata:
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/sendidwiputra/argocd
    targetRevision: main
ingressNginx:
  name: ingress-nginx
  namespace: ingress-nginx
  version: 4.7.0
  controller:
    replicaCount: 1
    resources:
      requests:
        cpu: 100m
        memory: 90Mi
nats:
  name: nats
  namespace: nats
  version: 2.7.4
prometheus:
  name: prometheus
  namespace: prometheus
  version: 46.8.0
certIssuer:
  name: cert-issuer
  namespace: cert-issuer
certManager:
  name: cert-manager
  namespace: cert-manager
  version: 1.12.2