apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: {{ .Values.metadata.namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: {{ .Values.ingress-nginx.version}}
    helm:
      releaseName: ingress-nginx
      values: |
        controller:
          replicaCount: 1
          resources:
            requests:
              cpu: 100m
              memory: 90Mi
          service:
            type: LoadBalancer
            annotations:
          #     # Enable proxy protocol
              service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: "true"
          #     # Specify whether the DigitalOcean Load Balancer should pass encrypted data to backend droplets
              service.beta.kubernetes.io/do-loadbalancer-tls-passthrough: "true"
          config:
            use-proxy-protocol: "true"
  destination:
    server: {{ .Values.spec.destination.server }}
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true # create destination namespace if not present
